{% extends 'base.html' %} 
{% block content %}

<div class="detail_name">
    <h1 class="title">{{patient.name}}</h1>
</div>
<div class="detail_container">
    <div class="buttons">
        <a href="" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Medical Records</h3>
        {% for record in patient.records.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>Reason: {{record.reason}}</b></span>
                <span><b>Vital signs: {{record.vital_signs}}</b></span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Records Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{patient.diagnosis}}</p>
    </div>
</div>
{% endblock %}