{% extends 'base.html' %} 
{% block content %}

<div class="detail__name">
    {% if patient.active %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Active</span>
    </div>
    {% endif %}
    <h1 class="title">{{patient.name}}</h1>
    <h3><b>DOB:</b> {{patient.dob}}</h3>
    <h3><b>Diagnosis:</b> {{patient.diagnosis}}</h3>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'patient_update' patient.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/patients/{{patient.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Records</h3>
        <form class="mb-5" action="{% url 'record_create' patient.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="visit_reason"
                        placeholder="Visit Reason"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="vital_signs"
                        placeholder="Vital Signs"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="treatment"
                        placeholder="Treatment"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Record" />
                </div>
            </div>
        </form>
        {% for record in patient.records.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>{{record.visit_reason}}</b></span>
                <span>{{record.treatment}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Records Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Providers</h3>
        {% for provider in patient.providers.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>{{provider.name}}</b></span>
                <span>{{provider.speciality}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Providers Available</p>
                </div>
            </article>

        {% endfor %}
    </div>

    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <h4><b>Phone number:</b> {{patient.phone_number}}</h4>
        <h3><b>Address:</b> {{patient.address}}</h3>
        
    </div>
</div>

{% endblock %}