{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Patients{% endblock  %}

{% block content %}

<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-primary" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'patient_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'patient_create' %}">Add Patient</a>
</form>

<div class="gallery">
  {% for patient in patients %}
  <a href="{% url 'patient_detail' patient.pk %}">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{patient.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Patients Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}