{% extends 'base.html' %} 
{% block content %}

<div class="detail__name">
    <h1 class="title">{{provider.name}}</h1>
    <h3><b>Speciality:</b> {{provider.speciality}}</h3>
</div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Patients</h3>
        {% for patient in provider.patients.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>{{patient.name}}</b></span>
                <span>{{patient.diagnosis}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Patients Available</p>
                </div>
            </article>

        {% endfor %}
    </div>

    <!-- <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <h4><b>Phone number:</b> {{patient.phone_number}}</h4>
        <h3><b>Address:</b> {{patient.address}}</h3>
        
    </div> -->
</div>

{% endblock %}