{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Provider{% endblock  %}

{% block content %}

<h1 class="title pt-5">Providers</h1>
<div class="gallery">
  {% for provider in providers %}
  <a href="">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{provider.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Providers Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}